<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>生产指标</title>
  <style>
    html, body, #main {
      height: 180px;
      width: 100%;
      margin: 0;
    }
  </style>
</head>
<body>
  <div id="main"></div>
  <script src="https://cdn.bootcss.com/echarts/3.4.0/echarts.min.js"></script>
  <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment.min.js"></script>
</body>
</html>

